@page "/about"
@inject HttpClient Http

<PageTitle>Hellums World!</PageTitle>

<p>Samples of my work are highlighted in the nav bar, along with links on the menu bar to my <a target="_blank" href="https://linkedin.com/in/hellums">LinkedIn</a> and <a target="_blank" href="https://github.com/hellums">GitHub</a> pages.</p>
<hr />
<center><h1>2022 Projects (C#, Python)</h1></center>
<p></p>

@if (examples == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        
        <thead>
            <tr>
                <th>Subject</th>
                <th>Language</th>
                <th>Model</th>
                <th>Scope</th>
                <th>Database</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Example in examples)
            {
                <tr>
                    <td>@Example.GetSubject()</td>
                    <td>@Example.GetLanguage()</td>
                    <td>@Example.GetModel()</td>
                    <td>@Example.GetScope()</td>
                    <td>@Example.GetDatabase()</td>
                </tr>
            }
        </tbody>
    </table>
<p></p>    
}

@code {
    private Example[]? examples;

    protected override async Task OnInitializedAsync() => examples = await Http.GetFromJsonAsync<Example[]>("data/examples.json");

    public class Example
    {
        public string Subject { get; set; }
        public string Language { get; set; }
        public string Model { get; set; }
        public string Scope { get; set; }
        public string Database { get; set; }

        public string GetSubject()
        { return (Subject); }

        public string GetLanguage()
        { return (Language); }

        public string GetModel()
        { return (Model); }

        public string GetScope()
        { return (Scope); }

        public string GetDatabase()
        { return (Database); }
     }
}

