@page "/bakerspercentage"

<center><h1>Baker's Percentage (MVP)</h1></center>
<p></p>
This program calculates the amount of ingredients (by weight) needed, based on desired amount of dough and bread type. Includes 11 MS Test methods against the BakersPercentage class. Features to be added include:<p></p>

<ul>
    <li>Preferment option (Biga, Poolish)</li>
    <li>Final/DDT (desired dough temperature)</li>
    <li>Imperial conversion estimates (ounces, teaspoons)</li>
    <li>Estimation instructions (500g/pan, 350g/artisan, 150g/hoagie, 28g/pizza-inch (diameter), etc.)</li>
</ul>

<p></p>
<div class="row">
    <div class="col-md-4">
        <strong><p role="status">Target weight (grams): @mass</p></strong>
        <button class="btn btn-primary" @onclick="DecrementCount">Less</button>
        <button class="btn btn-primary" @onclick="ResetWeight">Reset</button>
        <button class="btn btn-primary" @onclick="IncrementCount">More</button>
        <p></p>

        <select class="form-select-sm" @onchange="CalculateDough">
            <option selected disabled value="" id="breadType">Change Bread Type </option>
            <option value="Sandwich">Sandwich (default)</option>
            <option value="Ciabatta">Ciabatta</option>
            <option value="Focaccia">Focaccia</option>
            <option value="French">French</option>
            <option value="Buns">Buns</option>
            <option value="Pizza">Pizza</option>
        </select>
    </div>

    <div class="col-md-8">
        <p><strong>Total Ingredients Required</strong></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Amount (grams)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flour</td>
                    <td>@flourAmount.ToString("#")</td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td>@waterAmount.ToString("#")</td>
                </tr>
                <tr>
                    <td>Yeast</td>
                    <td>@yeastAmount.ToString("#")</td>
                </tr>
                <tr>
                    <td>Salt</td>
                    <td>@saltAmount.ToString("#")</td>
                </tr>
                <tr>
                    <td>Sugar</td>
                    <td>@sugarAmount.ToString("#")</td>
                </tr>
                <tr>
                    <td>Oil/Butter</td>
                    <td>@fatAmount.ToString("#")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p></p>