@page "/bakerspercentage"

<center><h1>Baker's Percentage</h1></center>
<p></p>
This program calculates the amount of ingredients (by weight) needed, based on desired amount of dough and bread type. Includes 11 unit tests and 3 UI/E2E tests against the BakersPercentage class and Razor pages. Features to be added include:<p></p>

<ul>
    <li>Preferment option (Biga, Poolish)</li>
    <li>Final/DDT (desired dough temperature)</li>
    <li>Imperial conversion estimates (ounces, teaspoons)</li>
    <li>Estimation instructions (500g/pan, 350g/artisan, 150g/hoagie, 28g/pizza-inch (diameter), etc.)</li>
</ul>

<p></p>
<div class="row">
    <div class="col-md-4">
        <p role="status"><strong>Target weight (grams): @mass</strong></p>
        <button-decrement class="btn btn-primary" @onclick="DecrementCount">Less</button-decrement>
        <button-reset class="btn btn-primary" @onclick="ResetWeight">Reset</button-reset>
        <button-increment class="btn btn-primary" @onclick="IncrementCount">More</button-increment>
        <p></p>

        <select class="form-select-sm" @onchange="CalculateDough">
            <option selected disabled value="" id="breadType">Change Bread Type </option>
            <option value="Sandwich">Sandwich (default)</option>
            <option value="Ciabatta">Ciabatta</option>
            <option value="Focaccia">Focaccia</option>
            <option value="Pizza">Pizza</option>
            <option value="French">French</option>
            <option value="Rolls">Rolls</option>
            <option value="Dumplings">Dumplings</option>
        </select>
    </div>

    <div class="col-md-8">
        <p><strong>Total Ingredients Required (@waterPercent% hydration)</strong></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Amount (grams)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flour</td>
                    <td>@flourAmount</td>
                </tr>
                <tr>
                    <td>Water</td>
                    <td>@waterAmount</td>
                </tr>
                <tr>
                    <td>Yeast</td>
                    <td>@yeastAmount</td>
                </tr>
                <tr>
                    <td>Salt</td>
                    <td>@saltAmount</td>
                </tr>
                <tr>
                    <td>Sugar</td>
                    <td>@sugarAmount</td>
                </tr>
                <tr>
                    <td>Oil/Butter</td>
                    <td>@fatAmount</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p></p>