@page "/bakerspercentage"

<center><h1>Baker's Percentage</h1></center>
<p></p>
<strong>By selecting the total amount of dough needed (in grams) and the bread type, this program will calculate the amount of ingredients (by weight) needed for a successful and tasty baking experience.</strong>
<p></p>
<p role="status">Target weight (grams): @mass</p>
<button class="btn btn-primary" @onclick="DecrementCount">Less</button>
<button class="btn btn-primary" @onclick="ResetWeight">Reset</button>
<button class="btn btn-primary" @onclick="IncrementCount">More</button>
<p></p>

<select class="form-select-sm" @onchange="CalculateDough">
    <option selected disabled value="" id="breadType">Change Bread Type </option>
    <option value="Sandwich">Sandwich (default)</option>
    <option value="Ciabatta">Ciabatta</option>
    <option value="Focaccia">Focaccia</option>
    <option value="Sandwich">French</option>
    <option value="Buns">Buns</option>
    <option value="Pizza">Pizza</option>
</select>
<p></p>

<p><strong>Total Ingredients Required</strong></p>
<table class="table">
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>Amount (grams)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Flour</td>
            <td>@flourAmount.ToString("#")</td>
        </tr>
        <tr>
            <td>Water</td>
            <td>@waterAmount.ToString("#")</td>
        </tr>
        <tr>
            <td>Yeast</td>
            <td>@yeastAmount.ToString("#")</td>
        </tr>
        <tr>
            <td>Salt</td>
            <td>@saltAmount.ToString("#")</td>
        </tr>
        <tr>
            <td>Sugar</td>
            <td>@sugarAmount.ToString("#")</td>
        </tr>
        <tr>
            <td>Oil/Butter</td>
            <td>@fatAmount.ToString("#")</td>
        </tr>
    </tbody>
</table>


@code {
    public int mass = 600;
    public string breadType = "";
    public float waterPercent = 63.0F;
    public float yeastPercent = 1.2F;
    public float saltPercent = 1.0F;
    public float sugarPercent = 3.5F;
    public float fatPercent = 8.0F;
    public float flourAmount = 0.0F;
    public float waterAmount = 0.0F;
    public float yeastAmount = 0.0F;
    public float saltAmount = 0.0F;
    public float sugarAmount = 0.0F;
    public float fatAmount = 0.0F;

    protected override async Task OnInitializedAsync()
    {
        CalculateIngredients();
    }

    public void IncrementCount()
    {
        mass += 50;
        CalculateIngredients();
    }
    public void DecrementCount()
    {
        mass -= 50;
        CalculateIngredients();
    }

    public void ResetWeight()
    {
        mass = 600;
        CalculateIngredients();
    }

    public void CalculateDough(ChangeEventArgs e)
    {
        string selectedBread = e.Value.ToString();
        switch (selectedBread)
        {
            case "Sandwich":
                waterPercent = 63.0F;
                yeastPercent = 1.2F;
                saltPercent = 1.0F;
                sugarPercent = 3.5F;
                fatPercent = 8.0F;
                break;
            case "Focaccia":
                waterPercent = 87.5F;
                yeastPercent = 1.5F;
                saltPercent = 1.9F;
                sugarPercent = 0F;
                fatPercent = 9.4F;
                break;
            case "Ciabatta":
                waterPercent = 82.0F;
                yeastPercent = .4F;
                saltPercent = 3.0F;
                sugarPercent = 0F;
                fatPercent = 0F;
                break;
            case "French":
                waterPercent = 66.0F;
                yeastPercent = 1.25F;
                saltPercent = 2.0F;
                sugarPercent = 0F;
                fatPercent = 0F;
                break;
            case "Buns":
                waterPercent = 66.0F;
                yeastPercent = 2.0F;
                saltPercent = 1.5F;
                sugarPercent = 2.5F;
                fatPercent = 5.0F;
                break;
            case "Pizza":
                waterPercent = 59.0F;
                yeastPercent = 1.25F;
                saltPercent = 2.0F;
                sugarPercent = 0.0F;
                fatPercent = 0.0F;
                break;
            default:
                waterPercent = 65.0F;
                yeastPercent = 1.2F;
                saltPercent = 2.0F;
                sugarPercent = 2.0F;
                fatPercent = 2.0F;
                break;
        }

        CalculateIngredients();

    }

    public virtual void CalculateIngredients() //function for Baker's Percentage calculations
    {
        float TotalPercent = 1 + (waterPercent + yeastPercent + saltPercent) / 100;
        flourAmount = (mass / TotalPercent);
        waterAmount = flourAmount * (waterPercent / 100);
        yeastAmount = flourAmount * (yeastPercent / 100);
        saltAmount = flourAmount * (saltPercent / 100);
        sugarAmount = flourAmount * (sugarPercent / 100);
        fatAmount = flourAmount * (fatPercent / 100);
    }

    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? title { get; set; }

}