@page "/bootcamp"
@inject HttpClient Http

<PageTitle>Hellums World!</PageTitle>

<p>Below is a list of developmental projects I've worked on this year. Samples and details of my work are highlighted in the nav menu, and I've included links to my <a target="_blank" href="https://linkedin.com/in/hellums">LinkedIn</a> and <a target="_blank" href="https://github.com/hellums">GitHub</a> pages.</p>
<hr />
<center><h1>2022 Projects (C#, Python)</h1></center>
<p></p>

@if (examples == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        
        <thead>
            <tr>
                <th>Subject</th>
                <th>Language</th>
                <th>Model</th>
                <th>Scope</th>
                <th>Database</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Example in examples)
            {
                <tr>
                    <td>@Example.Subject</td>
                    <td>@Example.Language</td>
                    <td>@Example.Model</td>
                    <td>@Example.Scope</td>
                    <td>@Example.Database</td>
                </tr>
            }
        </tbody>
    </table>
<p></p>    
}
