@page "/bootcamp"
@inject HttpClient Http

<PageTitle>Hellums World!</PageTitle>

<p>Below is a list of software-related projects I've worked on this year through <a target="_blank" href="https://www.codelouisville.org">Code Louisville</a> and self-study. Samples and details of my work are highlighted in the nav menu, and I've included links to my <a target="_blank" href="https://github.com/hellums">GitHub</a>, <a target="_blank" href="https://hub.docker.com/u/hellums">DockerHub</a>, and <a target="_blank" href="https://linkedin.com/in/hellums">LinkedIn</a> pages.</p>

<hr />

<center><h1>2022 Technology Focus</h1></center>
<p></p>
<ul>
    <li>C#, .NET Core, Python, OOP, Unit Testing, Agile</li>
    <li>Git, Github, Feature Branch Workflow, PR</li>
    <li>Github Actions, Azure Web App CI/CD pipeline</li>
    <li>Containers, Docker, Docker Hub</li>
    <li>Entity Framework, LINQ, SQLite, SQL Server, MongoDB</li>
    <li>IDEs, Visual Studio and VS Code, IDLE</li>
    <li>Separation of Concerns, Interfaces, MVC</li>
    <li>Web frameworks (Razor, Blazor, WebAssembly SPA, API, Flask)</li>
    <li>HTML, CSS, Bootstrap</li>
    <li>Data Analysis, Visualization, Jupyter Notebook, Tableau</li>
</ul>

<center><h1>2022 Projects (C#, Python)</h1></center>
<p></p>

@if (examples == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        
        <thead>
            <tr>
                <th>Subject</th>
                <th>Language</th>
                <th>Model</th>
                <th>Scope</th>
                <th>Database</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Example in examples)
            {
                <tr>
                    <td>@Example.Subject</td>
                    <td>@Example.Language</td>
                    <td>@Example.Model</td>
                    <td>@Example.Scope</td>
                    <td>@Example.Database</td>
                </tr>
            }
        </tbody>
    </table>
    <p></p>
}
