@page "/employees"
@inject HttpClient Http

<center><strong><h1>Employees</h1></strong></center>

<p>This is a simple program assignment that reads values in from a JSON. It loads the records into an array of Employee class objects and prints out some static and dynamic values in a table. Includes 4 MS Test methods against the Worker class.</p>

@if (peeps == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
@*                <th>Status</th>
*@                <th>Project</th>
                <th>Title</th>
                <th>StartDate</th>
                <th>Salary</th>
                <th>Raise</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var peep in peeps) //had to go this route because filename interfered with class name
            {
                <tr>
                    <td>@peep.FullName</td>
                    @*<td>@peep.Working()</td>*@
                    <td>@peep.Working("Project X")</td>
                    <td>@peep.Title</td>
                    <td>@peep.StartDate</td>
                    <td>$@peep.Salary</td>
                    <td>$@peep.CalculateRaise()</td>
                </tr>
            }
        </tbody>
    </table>
}
